@model List<ProjetoFinal.Models.Stage>

@{
    Layout = "_Layout";
}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Estágios</h1>
                    <a href="/Stages/Create" class="btn btn-primary" style="width: 25rem; height: 4rem; font-size: 1.8rem;">Criar Estágio</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <table>
                <tr style="border: 1px solid black">
                    <th></th>
                    <th>Nome</th>
                    <th>Cor</th>
                    <th>Ordem</th>
                    <th></th>
                </tr>
                @foreach (var item in @Model.OrderBy(x => x.Sort))
                {
                    <tr>
                        <td>
                            <div style="display: flex; justify-content: center;">
                                <a style="font-size: 2rem;" class="bx bxs-edit-alt" href="/stages/edit/@item.Id"></a>
                            </div>
                        </td>
                        <td>@item.Name</td>
                        <td style="color: @item.Color; font-weight: bold;">@item.Color</td>
                        <td>@item.Sort</td>
                        <td>
                            <div style="display: flex; justify-content: center;">
                                <a class="bx bxs-trash" href="/stages/Delete/@item.Id" style="color: red !important; font-weight: bold; font-size: 2rem;"></a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<hr>